
Chapter04/Exercise 4.04/.ipynb_checkpoints/Exercise 4.04-checkpoint.ipynb
Chapter04/Exercise 4.05/.ipynb_checkpoints/Exercise 4.05-checkpoint.ipynb
Chapter04/Exercise 4.06/.ipynb_checkpoints/Exercise 4.06-checkpoint.ipynb
Chapter04/Exercise 4.07/.ipynb_checkpoints/Exercise 4.07-checkpoint.ipynb
Chapter04/Exercise 4.08/.ipynb_checkpoints/Exercise 4.08-checkpoint.ipynb
Chapter04/Exercise 4.09/.ipynb_checkpoints/Exercise 4.09-checkpoint.ipynb
Chapter04/Exercise 4.10/.ipynb_checkpoints/Exercise 4.10-checkpoint.ipynb
Chapter04/Exercise 4.11/.ipynb_checkpoints/Exercise 4.11-checkpoint.ipynb
Chapter04/Exercise 4.12/.ipynb_checkpoints/Exercise 4.12-checkpoint.ipynb
Chapter01/Exercise 1.01/.ipynb_checkpoints/Exercise 1.01-checkpoint.ipynb
