
Chapter04/Exercise 4.04/.ipynb_checkpoints/Exercise 4.04-checkpoint.ipynb
Chapter04/Exercise 4.05/.ipynb_checkpoints/Exercise 4.05-checkpoint.ipynb
Chapter04/Exercise 4.06/.ipynb_checkpoints/Exercise 4.06-checkpoint.ipynb
Chapter04/Exercise 4.07/.ipynb_checkpoints/Exercise 4.07-checkpoint.ipynb
Chapter04/Exercise 4.08/.ipynb_checkpoints/Exercise 4.08-checkpoint.ipynb
Chapter04/Exercise 4.09/.ipynb_checkpoints/Exercise 4.09-checkpoint.ipynb
Chapter04/Exercise 4.10/.ipynb_checkpoints/Exercise 4.10-checkpoint.ipynb
Chapter04/Exercise 4.11/.ipynb_checkpoints/Exercise 4.11-checkpoint.ipynb
Chapter04/Exercise 4.12/.ipynb_checkpoints/Exercise 4.12-checkpoint.ipynb
Chapter01/Exercise 1.01/.ipynb_checkpoints/Exercise 1.01-checkpoint.ipynb
Chapter01/Exercise 1.02/.ipynb_checkpoints/Exercise 1.02-checkpoint.ipynb
Chapter01/Exercise 1.03/.ipynb_checkpoints/Exercise 1.03-checkpoint.ipynb
Chapter01/Exercise 1.04/.ipynb_checkpoints/Exercise 1.04-checkpoint.ipynb
Chapter01/Exercise 1.05/.ipynb_checkpoints/Exercise 1.05-checkpoint.ipynb
Chapter01/Exercise 1.06/.ipynb_checkpoints/Exercise 1.06-checkpoint.ipynb
Chapter01/Exercise 1.07/.ipynb_checkpoints/Exercise 1.07-checkpoint.ipynb
Chapter01/Exercise 1.08/.ipynb_checkpoints/Exercise 1.08-checkpoint.ipynb
Chapter01/Exercise 1.09/.ipynb_checkpoints/Exercise 1.09-checkpoint.ipynb
Chapter01/Exercise 1.10/.ipynb_checkpoints/Exercise 1.10-checkpoint.ipynb
Chapter01/Exercise 1.12/.ipynb_checkpoints/Exercise 1.12-checkpoint.ipynb
Chapter01/Exercise 1.11/.ipynb_checkpoints/Exercise 1.11-checkpoint.ipynb
Chapter01/Exercise 1.13/.ipynb_checkpoints/Exercise 1.13-checkpoint.ipynb
Chapter01/Exercise 1.14/.ipynb_checkpoints/Exercise 1.14-checkpoint.ipynb
Chapter02/Exercise 2.01/.ipynb_checkpoints/Exercise 2.01-checkpoint.ipynb
Chapter02/Exercise 2.02/.ipynb_checkpoints/Exercise 2.02-checkpoint.ipynb
Chapter02/Exercise 2.03/Exercise 2.03.ipynb
Chapter02/Exercise 2.04/.ipynb_checkpoints/Exercise 2.04-checkpoint.ipynb
Chapter02/Exercise 2.05/.ipynb_checkpoints/Exercise 2.05-checkpoint.ipynb
Chapter02/Exercise 2.03/.ipynb_checkpoints/Exercise 2.03-checkpoint.ipynb
Chapter02/Exercise 2.06/.ipynb_checkpoints/Exercise 2.06-checkpoint.ipynb
Chapter02/Exercise 2.07/.ipynb_checkpoints/Exercise 2.07-checkpoint.ipynb
Chapter02/Exercise 2.08/.ipynb_checkpoints/Exercise 2.08-checkpoint.ipynb
Chapter02/Exercise 2.09/.ipynb_checkpoints/Exercise 2.09-checkpoint.ipynb
Chapter02/Exercise 2.10/.ipynb_checkpoints/Exercise 2.10-checkpoint.ipynb
Chapter02/Exercise 2.11/.ipynb_checkpoints/Exercise 2.11-checkpoint.ipynb
Chapter05/Exercise 5.01/.ipynb_checkpoints/Exercise 5.01-checkpoint.ipynb
Chapter05/Exercise 5.01/.ipynb_checkpoints/Exercise 5.01-checkpoint.ipynb
Chapter05/Exercise 5.07/.ipynb_checkpoints/Exercise 5.07-checkpoint.ipynb
Chapter05/Exercise 5.08/.ipynb_checkpoints/Exercise 5.08-checkpoint.ipynb
Chapter06/Exercise 6.07/.ipynb_checkpoints/Exercise 6.07-checkpoint.ipynb
Chapter06/Exercise 6.04/.ipynb_checkpoints/Exercise 6.04-checkpoint.ipynb
Chapter06/Exercise 6.09/.ipynb_checkpoints/Exercise 6.09-checkpoint.ipynb
Chapter06/Exercise 6.05/.ipynb_checkpoints/Exercise 6.05-checkpoint.ipynb
Chapter08/Exercise 8.01/.ipynb_checkpoints/Exercise 8.01-checkpoint.ipynb
Chapter08/Exercise 8.02/.ipynb_checkpoints/Exercise 8.02-checkpoint.ipynb
Chapter08/lesson.db
Chapter08/Exercise 8.03/.ipynb_checkpoints/Exercise 8.03-checkpoint.ipynb
Chapter03/Exercise 3.18/.ipynb_checkpoints/Exercise 3.18-checkpoint.ipynb
Chapter03/Exercise 3.01/.ipynb_checkpoints/Exercise 3.01-checkpoint.ipynb
Chapter05/Exercise 5.09/.ipynb_checkpoints/Exercise 5.09-checkpoint.ipynb
Chapter05/Exercise 5.09/.ipynb_checkpoints/Exercise 5.09-checkpoint.ipynb
Chapter03/Exercise 3.02/.ipynb_checkpoints/Exercise 3.02-checkpoint.ipynb
Chapter07/Exercise 7.05/.ipynb_checkpoints/Exercise 7.05-checkpoint.ipynb
Chapter07/Exercise 7.07/.ipynb_checkpoints/Exercise 7.07-checkpoint.ipynb
Chapter07/Exercise 7.11/.ipynb_checkpoints/Exercise 7.11-checkpoint.ipynb
Chapter07/Exercise 7.13/.ipynb_checkpoints/Exercise 7.13-checkpoint.ipynb
Chapter07/Exercise 7.13/.ipynb_checkpoints/Exercise 7.13-checkpoint.ipynb
Chapter07/Exercise 7.14/.ipynb_checkpoints/Exercise 7.14-checkpoint.ipynb
Chapter07/Activity 7.02/.ipynb_checkpoints/Activity 7.02-checkpoint.ipynb
